Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
!.env.example
default.profraw
serviceAccountKey.json
firebase-debug.log
ui-debug.log
firestore-debug.log
.runtimeconfig.json
firebase/data
